<form method="POST">
	<h3>Innstillinger</h3>
	<div class="form-group">
		<label for="name">Hvor mange (garantert) gratis SMS får mønstringene?</label>
		<br />
		<input type="number" id="UKMmateriell_sms_forfree" name="UKMmateriell_sms_forfree" value="{{sms_forfree}}"> stk
	</div>
	
	<div class="form-group">
		<button class="btn btn-success btn-lg" type="submit">Lagre</button>
	</div>
</form>